#L4G Upload assistant
#l4G Path
l4g="/path/to/l4g/upload.py"
#trackers to upload to, any supported tracker in L4G space seperated
trackers="AITHER BLU BHD STT PTP LST"

#Cross-Seed
#Cross url
csurl=http://localhost:2468/api/webhook

#Qbittorrent
#Category 
cat=reupload

#Cross-up
#log file location
logfile=/path/to/cross-up/cross-up.log